html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: black;
    /* font-family: 'Open Sans', sans-serif; */
    color: rgb(255, 255, 255, 0.8);
}

.section1 {
    background-color: black;
    height: 98vh;
    /* border: 1px solid white; */
    position: relative;
}

.navBar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    list-style-type: none;
    margin-top: 2rem;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8);
    /* font-family: 'Gluten', cursive; */
    /* font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif; */
    /* font-family: 'Caveat', cursive; */
    font-family: 'Miyanih', sans-serif;

    /* font-family: 'Distant Galaxy', sans-serif; */
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
}

li {
    display: inline-block;
    margin-right: 2rem;
}

a:hover {
    /* text-decoration: underline; */
    color: white;
    cursor: pointer;
}
.introduction {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Miyanih', sans-serif;
    /* font-weight: 1000; */
    margin-left: 4rem;
    margin-top: 10rem;
    /* border: 1px solid red; */
}
h1 {
    font-size: 5rem;
    /* font-family: 'Gluten', cursive; */
    /* font-family: 'Cormorant Garamond', serif; */

    /* font-family: 'Rubik Mono One', sans-serif; */

    /* font-family: 'Goblin One', cursive; */
    /* font-family: "Circular Bold",plexeina-bold,Helvetica,sans-serif; */

    font-family: 'Miyanih', sans-serif;
    font-weight: bolder;
    letter-spacing: 14px;
    /* line-height: 6rem; */
    margin: 0;
}
h3 {
    /* font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif; */
    font-family: 'Miyanih', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
}

.getInTouch{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid red; */

    font-family: 'Miyanih', sans-serif;
    font-weight: bold;
    top: 81%;
    left: 13.4%;
    transform: translate(-50%, -50%);
}
.resume {
    font-family: 'Miyanih', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    /* padding: 9px; */
    margin-top: 0;
    position: relative;

    z-index: 1;
    padding: 16px;
    border: 1px solid white;
    /* transition: all .3s; */
    cursor: pointer;
  }

  .resume:hover {
    border: none;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border: 1.8px solid white;
        transition: all .3s;
        animation: clippath 4s infinite linear;
    }
    /* &::after {
        animation: clippath 3s infinite -0.5s linear;
    } */
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 98% 0);
    }
    
    25% {
        clip-path: inset(0 98% 0 0);
    }
    50% {
        clip-path: inset(98% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 98%);
    }
}




	








.socialMedia {
    height: 4.5vh;
    width: 4.5vh;
    margin-left: 2px;
    margin-right: 2px;
}
.profileImg {
    height: 90vh;
    margin-right: 3rem;
    float: right;
    /* border: 1px solid red; */
    position: relative;
    z-index: 0;

}

.section1::after {
    content: "";
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    pointer-events: none;
  }
  
  .intro:hover::after {
    pointer-events: auto; /* allow pointer events on hover */
  }
  

.section2 {
    height: 98vh;
    /* border-bottom: 1px solid white; */

    font-family: 'Miyanih', sans-serif;
    line-height: 1.4;
    font-size: 14px;
    background-color: rgb(33, 33, 33, 0.4);
    border: 1px solid rgb(255, 255, 255, 0.8);
}

.cubs {
    position: absolute;
    height: 26vh;
    width: 26vh;
    margin-top: 18rem;
    margin-left: 9rem;
}
.cubs2 {
    position: absolute;
    height: 19vh;
    width: 19vh;
    margin-top: 0rem;
    margin-left: 66rem;
}

.colorHeadlineAbout {
    color: rgb(145, 255, 0);
    font-family: 'Miyanih', sans-serif;sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 6rem;
    margin-left: 4rem;

}
span {
    color: rgb(145, 255, 0);
}
p {
    font-family: 'Miyanih', sans-serif;
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* letter-spacing: 2px; */
}
.Headline{
    /* border: 1px solid blue; */
    display: inline-block;
    margin-left: 4rem;
    font-size: 34px;
    margin-top: 0;

}
.aboutMe {
    margin-left: 36rem;
    margin-right: 5rem;
    overflow: auto;

}
.section3 {
    height: 98vh;
    display: grid;
    grid-template-columns: repeat(3, 22rem);
    grid-column-gap: 3.7rem;
    justify-content: center;
    text-align: left;
    position: relative;
    grid-template-areas:
    "title title title"
    "service1 service2 service3";
    
}

.title {
    color: rgb(145, 255, 0);
    font-family: 'Miyanih', sans-serif;sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 1000;
  margin-top: 9rem;
  margin-bottom: -7rem;
}


.sevice-title {
    font-size: 18.5px;
    letter-spacing: 2px;
    border: 1px solid rgb(255, 255, 255, 0.8);
    /* display: inline-block; */
    padding: 13px;
    text-align: center;
    margin-bottom: 3rem;
}

.service1 {
    grid-column: 1;
}
.service2 {
    grid-column: 2;
}
.service3 {
    grid-column: 3;
}
.projectsTitle {
    color: rgb(145, 255, 0);
    font-family: 'Miyanih', sans-serif;sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 7.2rem;
    margin-left: 5rem;
}
.slideImg {
    height: 37vh;
    width: 37vh;
    margin-right: 18px;
    /* border: 0.7px solid rgb(255, 255, 255, 0.8); */
}
.slide-container {
    display: flex; 
    justify-content: center; 
    height: 53vh;
    overflow-x: auto;
    background-color: black;
    margin-top: 1.5rem;
    width: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* border: 1px solid rgb(255, 255, 255, 0.8); */
}
.beforeArow {
    position: absolute;
    height: 18vh;
    width: 14vh;
    float: right;
    margin-top: 7.5rem;
    margin-left: 2rem;
}
.nextArow {
    position: absolute;
    height: 18vh;
    width: 14vh;
    float: right;
    margin-top: 7.5rem;
    margin-left: 75rem;
}
.slideHlder {
    /* border: 1px solid red; */
    display: grid; 
    place-items: center; 
    height: 100vh;
    
    text-align: center;
    width: 156vh;
    height: 60vh;
    overflow: visible;
    display: flex;
    position: absolute;
  
    /* border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
    overflow-x: scroll; /*slide*/
    /* white-space: nowrap; */
    /* padding: 0.8rem 0.8rem 0.4rem 0.8rem; */
    text-align: center;
    
    margin-top: 1rem;
}
.projectDiv {
    text-align: start;
    font-family: 'Miyanih', sans-serif;sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
}
.projectDescription {
    text-align: center;
    border: 1px solid rgb(255, 255, 255, 0.8);
    margin-right: 18px;
}
.slideHlder::-webkit-scrollbar {
    height: 7px; /* height of the scrollbar */
    width: 7px; /* width of the scrollbar */
    /* border: 1px solid  rgba(0, 0, 0, 0.3); */
    display: none;
}

.slideHlder::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 0.2); /* color of the thumb */
    border-radius: 10px; /* roundness of the thumb */
    display: none;
}
.slideHlder::-webkit-scrollbar-thumb:hover {
    background-color: white;
    /* display: none; */
}
.slideHlder::-webkit-scrollbar-track {
    background-color: #ddd; /* color of the track */
    /* display: none; */
}

.section4 {
    height: 98vh;
    background-color: rgb(33, 33, 33, 0.4);
    border: 1px solid rgb(255, 255, 255, 0.8);
}
.labels {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.section5 {
    height: 91vh;
    background-color: black;
    text-align: center;
}
.contactTitle {
    color: rgb(145, 255, 0);
    font-family: 'Miyanih', sans-serif;sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 3rem;
    margin-left: 5rem;
    /* border: 1px solid burlywood; */
    /* display: inline-block; */
    text-align: start;
    justify-content: left;
    /* margin-left: 4rem; */
}
.contactHead {
    margin-left: 8rem;
    margin-right: 8rem;
    text-align: justify;
}
label {
    display: block;
    font-family: 'Miyanih', sans-serif;
    font-size: 16px;
    text-align: start;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
.message {
    text-align: center;
    /* border: 1px solid burlywood; */
}

.textarea{
    display: inline-block;
}
input {
    font-family: 'Miyanih', sans-serif;
    font-size: 12px;
    /* font-weight: 700; */
    width: 16rem;
    line-height: 30px;
    padding: 0.5rem;
    outline: 0;;
    background-color: rgba(0, 0, 0, 0.4);;
    color: inherit;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.8);
}
.nameLabel {
    margin-right: 3rem;
    margin-bottom: 2rem;
}
textarea {
    font-family: 'Miyanih', sans-serif;
    margin-top: 6px;
    margin-bottom: 1.5rem;
    font-size: 12px;
    width: 35rem;
    height: 11rem;
    line-height: 30px;
    outline: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.4);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.8);
    /* border: 1px solid red; */
}